<table>
    <tr ng-repeat="drg in data.drgs | filter:filter.searchKeyword">
        <td>{{ drg.name }}</td>
        <td>{{ drg.charge| noFractionRoundedCurrency }}</td>
        <td>{{ drg.pay| noFractionRoundedCurrency }}</td>
        <td>{{ drg.AcquiredInfect }}</td>
        <td>{{ drg.AcquiredConditions }}</td>
        <td>{{ drg.PatientSafetySummary }}</td>

        <td style="height: 5px; width: 50px;">
            <div class="progress_bar" style="height: 5px; background-color: red; width: {{ AcquiredInfect }}%;"></div>
        </td>
        <td style="height: 5px; width: 50px;">
            <div class="progress_bar" style="height: 5px; background-color: red; width: {{ AcquiredConditions }}%;"></div>
        </td>
        <td style="height: 5px; width: 50px;">
            <div class="progress_bar" style="height: 5px; background-color: red; width: {{ PatientSafetySummary }}%;"></div>
        </td>
    </tr>
</table>
