<table>
    <thead>
    <tr>
        <td style="min-width: 200px;">Name</td>
        <td style="width: 110px;">Hospital Bill</td>
        <td style="width: 110px;">Reimbursement</td>
        <td style="width: 100px;">Acquired Infection</td>
        <td style="width: 100px;">Acquired Conditions</td>
        <td style="width: 100px;">Patient Safety Summary</td>
    </tr>
    </thead>
    <tr ng-repeat="drg in data.drgs | filter:filter.searchKeyword">
        <td>{{ drg.name }}</td>
        <td>{{ drg.charge| noFractionRoundedCurrency }}</td>
        <td>{{ drg.pay| noFractionRoundedCurrency }}</td>

        <td class="progress-bar-background">
            <div class="progress-bar" style="width: {{ drg.AcquiredInfect }}%;"></div>
        </td>
        <td class="progress-bar-background">
            <div class="progress-bar" style="width: {{ drg.AcquiredConditions }}%;"></div>
        </td>
        <td class="progress-bar-background">
            <div class="progress-bar" style="width: {{ drg.PatientSafetySummary }}%;"></div>
        </td>
    </tr>
</table>
