<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>Photo App</title>
    <link rel="stylesheet" href="dark-html-theme.css" type="text/css"/>
    <link rel="stylesheet" href="photo-app.css" type="text/css"/>

    <script type="text/javascript">
        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }
    </script>

    <script src="../js/libs/jquery-1.10.1.min.js"></script>
    <script src="../js/libs/underscore-min.js"></script>
    <script src="../js/libs/jquery-csv.js"></script>
    <script src="../js/libs/angular-1.0.7.min.js"></script>


    <script src="MainController.js"></script>
    <script src="photoApp.js"></script>
    <script src="photoSearchService.js"></script>

</head>

<body ng-app="medicareApp">

<div ng-controller="MainController">
    <form class="search-field" ng-submit="filterByPrice()">
        Name: <input type="text" ng-model="filter.searchKeyword">
        Price: <input type="text" ng-model="filter.price">
        <input type="submit" value="Search">
        <span class="search-message">Filtered by {{ filter.searchKeyword }} and {{ filter.price }}</span>
    </form>

    <a href="#/1">1111</a><br>
    <a href="#/2">2222</a>

    <div ng-view=""></div>

</div>

</body>

</html>