/* Hover Text  --------------------------------------  */

.hover-text {
    height: 140px;
}

.hospital-name {
    font-family: helvetica sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}

.hover-label {
    font-size: 16px;
    height: 50px;
}

.hover-data {
    font-size: 25px;
    color: #ffff0f;
    line-height: 30px;
}

.pull-left {
    float: left;
    width: 50%;
}

.pull-right {
    float: right;
    width: 50%;
}

/* ------------------------------------------------  */

/* Hospital List  ---------------------------------  */

.h-row {
    min-height: 100px;

    margin: 2px 0;
    padding: 10px;
    border: solid #ddd 1px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    clear: both;
}

.h-row .hbill {
    margin-top: 15px;
}

.hlist {
}

.h-numbers {
    vertical-align: middle;
}

.h-row .hname {
    margin-bottom: 15px;
    font-weight: bold;
}

.hlist .max-value {
    background-color: #ffbbbb;
}

.hlist .min-value {
    background-color: #bbffbb;
}

.h-row .hlist-head {
    float: right;
    font-weight: bold;
    font-size: 18px;
}

/* ------------------------------------------------  */

#default_image {
    height: 300px;
    margin-top: 80px;
}

#drug_name {
    display: inline;
    width: 600px;
}

.instructions {
    font-size: 22px;
    line-height: 35px;
}

.big-arrow {
    margin-bottom: 30px;
}

.big-top-margin {
    margin-top: 30px;
}

.news-image {
    height: 105px;
}

.image-col {
    float: left;
    width: 200px;
    text-align: center;
}

.border-row {
    margin: 2px 0;
    padding: 10px;
    border: solid #ddd 1px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    clear: both;
    height: 110px;
}