{% verbatim %}
<script id="tooltip-template" type="text/x-handlebars-template">
    <div class='hover-text'>
        <div class='hospital-name'>{{ name }}</div>
        <div class="pull-left">
            <div class='hover-label'>Hospital Bill:</div>
            <div class='hover-data'> {{ charge }}</div>
        </div>
        <div class="pull-right">
            <div class='hover-label'>Medicare<br>reimbursement:</div>
            <div class='hover-data'> {{ pay }}</div>
        </div>
        <div class="hover-row">
            <table>
                <thead>
                <td></td>
                <td><span class="pull-left">Below</span><span>Avg</span><span class="pull-right">Above</span></td>
                </thead>
                <tr>
                    <td class="lcol">Acquired Infection</td>
                    <td>
                        <div class="progress-bar-background">
                            <div class="progress-bar" style="width: {{ AcquiredInfect }}%;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="lcol">Acquired Conditions</td>
                    <td>
                        <div class="progress-bar-background">
                            <div class="progress-bar"
                                 style="width: {{ AcquiredInfect }}%;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="lcol">Patient Safety</td>
                    <td>
                        <div class="progress-bar-background">
                            <div id="progress-bar"
                                 style="width: {{ PatientSafetySummary }}%;"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</script>

<script id="hlist-template" type="text/x-handlebars-template">
    {{#if hospitals }}
    <div class="hlist">

        <div class='min-max-box'>
            {{#list hospitals}}
            <div class="h-row"
                 onmouseover="MEDICARE.draw_highlight('{{ this.chartName }}', {{ this.lat }}, {{ this.lon }});">
                <div class='hname'>{{this.name}}</div>
                <div class="h-numbers">
                    Charge: <span class='hbill'>{{this.charge}}</span>
                    <br>
                    Reimbursement: <span class='hbill'>{{this.pay}}</span>
                </div>
            </div>
            {{/list}}
        </div>
    </div>

    {{/if}}
</script>

{% endverbatim %}