{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "Medicare cost" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
{% endblock %}


{% block maincontent %}

    <div class="big-top-margin row-fluid">
        <div class="span12">
            <h3>Data from CMS.GOV</h3>

            <a href="http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/index.html">Medicare
                Provider Charge Data</a>

            <p>As part of the Obama administration’s work to make our health care system more affordable and
                accountable, data are being released that show significant variation across the country and within
                communities in what hospitals charge for common inpatient services.</p>

            <p>The data provided here include hospital-specific charges for the more than 3,000 U.S. hospitals that
                receive Medicare Inpatient Prospective Payment System (IPPS) payments for the top 100 most frequently
                billed discharges, paid under Medicare based on a rate per discharge using the Medicare Severity
                Diagnosis Related Group (MS-DRG) for Fiscal Year (FY) 2011. These DRGs represent almost 7 million
                discharges or 60 percent of total Medicare IPPS discharges.</p>

            <p>Hospitals determine what they will charge for items and services provided to patients and these charges
                are the amount the hospital bills for an item or service. The Total Payment amount includes the MS-DRG
                amount, bill total per diem, beneficiary primary payer claim payment amount, beneficiary Part A
                coinsurance amount, beneficiary deductible amount, beneficiary blood deducible amount and DRG outlier
                amount.</p>

            <p>For these DRGs, average charges and average Medicare payments are calculated at the individual hospital
                level. Users will be able to make comparisons between the amount charged by individual hospitals within
                local markets, and nationwide, for services that might be furnished in connection with a particular
                inpatient stay.</p>

            <p>Data are being made available in Microsoft Excel (.xlsx) format and comma separated values (.csv)
                format.</p>

            <p>
                <a href="http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/IPPS_DRG_XLSX.zip">Inpatient
                    Charge Data, FY2011, Microsoft Excel version<br/></a><a
                    href="http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/IPPS_DRG_CSV.zip">Inpatient
                Charge Data, FY2011, Comma Separated Values (CSV) version</a></p>

            <p><br/>National and State level summaries are also available here:</p>

            <p>
                <a href="http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/IPPS_NAT_STATE_SUM_XLSX.zip">National
                    and State Summaries of Inpatient Charge Data, FY2011, Microsoft Excel version</a><br/><a
                    href="http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/IPPS_NAT_STATE_SUM_CSV.zip">National
                and State Summaries of Inpatient Charge Data, FY2011, Comma Separated Values (CSV) version</a></p>
        </div>
    </div>


{% endblock %}


{% block bottomscript %}
{% endblock %}
