{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "Medicare cost" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
    {% verbatim %}
    <script id="tooltip-template" type="text/x-handlebars-template">
        <div class='hover-text'>
            <div class='hospital-name'>{{ name }}</div>
            <div class="pull-left">
                <div class='hover-label'>Hospital Bill:</div>
                <div class='hover-data'> {{ charge }}</div>
            </div>
            <div class="pull-right">
                <div class='hover-label'>Medicare<br>reimbursement:</div>
                <div class='hover-data'> {{ pay }}</div>
            </div>
            <div class="hover-row">
                <table>
                    <thead>
                    <td></td>
                    <td><span class="pull-left">Below</span><span>Avg</span><span class="pull-right">Above</span></td>
                    </thead>
                    <tr>
                        <td class="lcol">Acquired Infection</td>
                        <td>
                            <div class="progress-bar-background">
                                <div class="progress-bar" style="width: {{ AcquiredInfect }}%;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="lcol">Acquired Conditions</td>
                        <td>
                            <div style="height: 5px; background-color: gray; width: 200px;">
                                <div class="progress_bar"
                                     style="height: 5px; background-color: red; width: {{ AcquiredInfect }}%;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="lcol">Patient Safety</td>
                        <td>
                            <div style="height: 5px; background-color: gray; width: 200px;">
                                <div id="progress_bar"
                                     style="height: 5px; background-color: red; width: {{ PatientSafetySummary }}%;"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </script>

    <script id="hlist-template" type="text/x-handlebars-template">
        {{#if hospitals }}
        <div class="hlist blue-box">

            <h4 class="section-title min-max-box-header">Nearby Hospitals:</h4>

            <p>Hospitals within the 100 miles that charge the most or the least</p>

            <div class='min-max-box'>
                {{#list hospitals}}
                <div class="h-row"
                     onmouseover="MEDICARE.draw_highlight('{{ this.chartName }}', {{ this.lat }}, {{ this.lon }});">
                    <div class='hname'>{{this.name}}</div>
                    <div class="h-numbers">
                        Charge: <span class='hbill'>{{this.charge}}</span>
                        <br>
                        Reimbursement: <span class='hbill'>{{this.pay}}</span>
                    </div>
                </div>
                {{/list}}
            </div>
        </div>

        {{/if}}
    </script>


    {% endverbatim %}

    <script src="{{ STATIC_URL }}js/libs/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/topojson.v0.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.tipsy.js"></script>
    <link href="{{ STATIC_URL }}css/tipsy.css" rel="stylesheet">
    {#    <script src="{{ STATIC_URL }}js/libs/ember-1.0.0-rc.4.js"></script>#}


{% endblock %}

{% block maincontent %}

    <div class="big-top-margin row-fluid">
        <div class="span12">

            <h2 class="main-title"> How much does my hospital charge for [condition]?</h2>

            <p>Medicare recently released data regarding the payments for the top 100 medical conditions by patient
                volume. How much would your bill be if you went to your hospital with chest pain as an uninsured
                patient? And how much would Medicare reimburse that same hospital if you had Medicare? What if you went
                to a neighboring hospital?
                Select a city, state and a condition.
            </p>
        </div>
    </div>

    <div class="big-top-margin row-fluid">
        <div class="span8">

            <h3 class="section-title">Select a procedure:</h3>
            <select id="drug_name" onChange="MYCHART.paint();">
            </select>
        </div>

        <div class="span3 visible-desktop">
            <img class="big-arrow" src="{{ STATIC_URL }}images/arrow_yellow.png">
        </div>
    </div>

    <div class="big-top-margin row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                    <div class="chart-title">

                        <p><strong>Process name: </strong>&nbsp;&nbsp;&nbsp;<span class="selected_drg"></span></p>
                        <h4>Average Hospitals Bill</h4>

                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="chart-body">
                        <div class="row-fluid">
                            <div class="span9">
                                <div id="chart1">
                                    <svg class="chart-svg">
                                        <g class="map-group"></g>
                                        <g class="data-group"></g>
                                    </svg>
                                </div>
                            </div>
                            <div class="span3">
                                <div id="h-list1">
                                    <div class="zipcode-selector">
                                        <input class="input-zipcode" type="text" value="98116"/>
                                        <input type="button" class="btn-info" value="Search"
                                               onclick="MEDICARE.lookupZip('#h-list1', '#chart1');"/>
                                    </div>

                                    <div class="hospital-list"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="big-top-margin row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                    <div class="chart-title">

                        <p><strong>Process name: </strong>&nbsp;&nbsp;&nbsp;<span class="selected_drg"></span></p>
                        <h4>Average Medicare Reimbursement</h4>

                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="chart-body">
                        <div class="row-fluid">
                            <div class="span9">
                                <div id="chart2">
                                    <svg class="chart-svg">
                                        <g class="map-group"></g>
                                        <g class="data-group"></g>
                                    </svg>
                                </div>
                            </div>
                            <div class="span3">
                                <div id="h-list2">
                                    <div class="zipcode-selector">
                                        <input class="input-zipcode" type="text" value="98116"/>
                                        <input type="button" class="btn-info" value="Search"
                                               onclick="MEDICARE.lookupZip('#h-list2', '#chart2');"/>
                                    </div>

                                    <div class="hospital-list"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block bottomscript %}

    <script src="{{ STATIC_URL }}js/medicare.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/plot.js"></script>

    <script type="text/javascript">

        MYCHART.init = function (dataUrl) {
            MEDICARE.draw_chart('#chart1', dataUrl, 'size_charge');
            MEDICARE.draw_chart('#chart2', dataUrl, 'size_pay');
        };

        MEDICARE.LoadOptions(MYCHART.init);

    </script>

    {#    <script type="text/javascript">#}
    {#        var switchTo5x = false;#}
    {#    </script>#}
    {#    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>#}
    {#    <script type="text/javascript">#}
    {#        stLight.options({#}
    {#            publisher: "6d8da8ae-b61c-486f-a29b-e4c32b2e3259",#}
    {#            doNotHash: false,#}
    {#            doNotCopy: false,#}
    {#            hashAddressBar: false#}
    {#        });#}
    {#    </script>#}

{% endblock %}
