<li>
<a href="#">Pulmonology</a><ul class="dl-submenu">
<li>
<a href="#">Asthma/Bronchitis</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('202', 'Asthma/Bronchitis-2');">Asthma/Bronchitis-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('203', 'Asthma/Bronchitis-0');">Asthma/Bronchitis-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Pulmonary Embolism</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('174', 'Pulmonary Embolism-0');">Pulmonary Embolism-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Pulmonary Edema/Respiratory Failure</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('189', 'Pulmonary Edema/Respiratory Failure-0');">Pulmonary Edema/Respiratory Failure-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Lung Disease Requiring Ventilator Support</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('207', 'Lung Disease Requiring Ventilator Support-2');">Lung Disease Requiring Ventilator Support-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('208', 'Lung Disease Requiring Ventilator Support-0');">Lung Disease Requiring Ventilator Support-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Lung Infection/Inflammation</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('177', 'Lung Infection/Inflammation-2');">Lung Infection/Inflammation-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('178', 'Lung Infection/Inflammation-1');">Lung Infection/Inflammation-1</a>
</li>
</ul>
</li>
<li>
<a href="#">Pneumonia</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('195', 'Pneumonia-0');">Pneumonia-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('194', 'Pneumonia-1');">Pneumonia-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('193', 'Pneumonia-2');">Pneumonia-2</a>
</li>
</ul>
</li>
<li>
<a href="#">Chronic Obstructive Pulmonary Disease</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('192', 'Chronic Obstructive Pulmonary Disease-0');">Chronic Obstructive Pulmonary Disease-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('191', 'Chronic Obstructive Pulmonary Disease-1');">Chronic Obstructive Pulmonary Disease-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('190', 'Chronic Obstructive Pulmonary Disease-2');">Chronic Obstructive Pulmonary Disease-2</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">Hematology</a><ul class="dl-submenu">
<li>
<a href="#">Red Blood Cell Disorder</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('811', 'Red Blood Cell Disorder-2');">Red Blood Cell Disorder-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('812', 'Red Blood Cell Disorder-0');">Red Blood Cell Disorder-0</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">Nephrology</a><ul class="dl-submenu">
<li>
<a href="#">TEST</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('698', 'TEST-0');">TEST-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('699', 'TEST-0');">TEST-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Kidney/Urinary Tract Infection</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('689', 'Kidney/Urinary Tract Infection-2');">Kidney/Urinary Tract Infection-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('689', 'Kidney/Urinary Tract Infection-0');">Kidney/Urinary Tract Infection-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Kidney Failure</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('684', 'Kidney Failure-0');">Kidney Failure-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('683', 'Kidney Failure-1');">Kidney Failure-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('682', 'Kidney Failure-2');">Kidney Failure-2</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">Gastroenterology</a><ul class="dl-submenu">
<li>
<a href="#">Gastrointestinal Bleed</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('379', 'Gastrointestinal Bleed-0');">Gastrointestinal Bleed-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('378', 'Gastrointestinal Bleed-1');">Gastrointestinal Bleed-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('377', 'Gastrointestinal Bleed-2');">Gastrointestinal Bleed-2</a>
</li>
</ul>
</li>
<li>
<a href="#">Esophagitis</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('391', 'Esophagitis-2');">Esophagitis-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('392', 'Esophagitis-0');">Esophagitis-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Gastrointestinal Obstruction</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('390', 'Gastrointestinal Obstruction-0');">Gastrointestinal Obstruction-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('389', 'Gastrointestinal Obstruction-1');">Gastrointestinal Obstruction-1</a>
</li>
</ul>
</li>
<li>
<a href="#">Pancreatic Disease</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('439', 'Pancreatic Disease-1');">Pancreatic Disease-1</a>
</li>
</ul>
</li>
<li>
<a href="#">Major Intestinal Surgery</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('329', 'Major Intestinal Surgery-2');">Major Intestinal Surgery-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('330', 'Major Intestinal Surgery-1');">Major Intestinal Surgery-1</a>
</li>
</ul>
</li>
<li>
<a href="#">TEST</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('372', 'TEST-1');">TEST-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('394', 'TEST-1');">TEST-1</a>
</li>
</ul>
</li>
<li>
<a href="#">Laparoscopic Gall Bladder Removal</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('419', 'Laparoscopic Gall Bladder Removal-0');">Laparoscopic Gall Bladder Removal-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('418', 'Laparoscopic Gall Bladder Removal-1');">Laparoscopic Gall Bladder Removal-1</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">Infectious Disease</a><ul class="dl-submenu">
<li>
<a href="#">Severe Sepsis</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('871', 'Severe Sepsis-2');">Severe Sepsis-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('872', 'Severe Sepsis-0');">Severe Sepsis-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Severe Sepsis Requiring Mechanical Ventilation</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('879', 'Severe Sepsis Requiring Mechanical Ventilation-0');">Severe Sepsis Requiring Mechanical Ventilation-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Celluitis</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('602', 'Celluitis-2');">Celluitis-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('603', 'Celluitis-0');">Celluitis-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Infectious Disease Requiring Surgery</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('853', 'Infectious Disease Requiring Surgery-2');">Infectious Disease Requiring Surgery-2</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">Neurology</a><ul class="dl-submenu">
<li>
<a href="#">Stroke</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('66', 'Stroke-0');">Stroke-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('65', 'Stroke-1');">Stroke-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('64', 'Stroke-2');">Stroke-2</a>
</li>
</ul>
</li>
<li>
<a href="#">Transient Ischemia</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('69', 'Transient Ischemia-0');">Transient Ischemia-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Peripheral Nerve Disorders</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('74', 'Peripheral Nerve Disorders-0');">Peripheral Nerve Disorders-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Seizure</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('101', 'Seizure-0');">Seizure-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Dizziness & Vertigo</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('149', 'Dizziness & Vertigo-0');">Dizziness & Vertigo-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Neurodegenerative Disorder</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('57', 'Neurodegenerative Disorder-0');">Neurodegenerative Disorder-0</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">Cardiology</a><ul class="dl-submenu">
<li>
<a href="#">Stent Placement</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('251', 'Stent Placement-0');">Stent Placement-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Arrhythmia</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('310', 'Arrhythmia-0');">Arrhythmia-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('309', 'Arrhythmia-1');">Arrhythmia-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('308', 'Arrhythmia-2');">Arrhythmia-2</a>
</li>
</ul>
</li>
<li>
<a href="#">Drug-Eluting Stent Placement</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('246', 'Drug-Eluting Stent Placement-2');">Drug-Eluting Stent Placement-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('247', 'Drug-Eluting Stent Placement-0');">Drug-Eluting Stent Placement-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Pacemaker Implantation</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('244', 'Pacemaker Implantation-0');">Pacemaker Implantation-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('243', 'Pacemaker Implantation-1');">Pacemaker Implantation-1</a>
</li>
</ul>
</li>
<li>
<a href="#">Chest Pain</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('313', 'Chest Pain-0');">Chest Pain-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Hypertension</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('305', 'Hypertension-0');">Hypertension-0</a>
</li>
</ul>
</li>
<li>
<a href="#">TEST</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('254', 'TEST-0');">TEST-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('286', 'TEST-0');">TEST-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('287', 'TEST-0');">TEST-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('253', 'TEST-1');">TEST-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('315', 'TEST-1');">TEST-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('252', 'TEST-2');">TEST-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('314', 'TEST-2');">TEST-2</a>
</li>
</ul>
</li>
<li>
<a href="#">Heart Attack</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('282', 'Heart Attack-0');">Heart Attack-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('281', 'Heart Attack-1');">Heart Attack-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('280', 'Heart Attack-2');">Heart Attack-2</a>
</li>
</ul>
</li>
<li>
<a href="#">Peripheral Vascular Disorder</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('300', 'Peripheral Vascular Disorder-2');">Peripheral Vascular Disorder-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('301', 'Peripheral Vascular Disorder-0');">Peripheral Vascular Disorder-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Cardiovascular Surgery & Procedure</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('238', 'Cardiovascular Surgery & Procedure-0');">Cardiovascular Surgery & Procedure-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Bare Metal Stent Placement</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('249', 'Bare Metal Stent Placement-0');">Bare Metal Stent Placement-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Heart Failure</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('293', 'Heart Failure-0');">Heart Failure-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('292', 'Heart Failure-1');">Heart Failure-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('291', 'Heart Failure-2');">Heart Failure-2</a>
</li>
</ul>
</li>
<li>
<a href="#">Atherosclerosis</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('303', 'Atherosclerosis-0');">Atherosclerosis-0</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">Orthopedic Surgery</a><ul class="dl-submenu">
<li>
<a href="#">Spinal Fusion (Cervical)</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('473', 'Spinal Fusion (Cervical)-0');">Spinal Fusion (Cervical)-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Hip & Leg Surgery (Excluding Joint Replacement)</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('482', 'Hip & Leg Surgery (Excluding Joint Replacement)-0');">Hip & Leg Surgery (Excluding Joint Replacement)-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('481', 'Hip & Leg Surgery (Excluding Joint Replacement)-1');">Hip & Leg Surgery (Excluding Joint Replacement)-1</a>
</li>
<li>
<a onclick="MEDICARE.get_data('480', 'Hip & Leg Surgery (Excluding Joint Replacement)-2');">Hip & Leg Surgery (Excluding Joint Replacement)-2</a>
</li>
</ul>
</li>
<li>
<a href="#">Back & Neck Spinal Fusion</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('491', 'Back & Neck Spinal Fusion-0');">Back & Neck Spinal Fusion-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Joint Replacement</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('469', 'Joint Replacement-2');">Joint Replacement-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('470', 'Joint Replacement-0');">Joint Replacement-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Fracture, Sprain/Strain, Dislocation (Except Femur, Hip, Pelvis, Thigh)</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('563', 'Fracture, Sprain/Strain, Dislocation (Except Femur, Hip, Pelvis, Thigh)-0');">Fracture, Sprain/Strain, Dislocation (Except Femur, Hip, Pelvis, Thigh)-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Hip and Pelvic Fracture</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('536', 'Hip and Pelvic Fracture-0');">Hip and Pelvic Fracture-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Back Pain/Disorders</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('552', 'Back Pain/Disorders-0');">Back Pain/Disorders-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Spinal Fusion (Non-Cervical)</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('460', 'Spinal Fusion (Non-Cervical)-0');">Spinal Fusion (Non-Cervical)-0</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">General</a><ul class="dl-submenu">
<li>
<a href="#">Alcohol or Drug Abuse</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('897', 'Alcohol or Drug Abuse-0');">Alcohol or Drug Abuse-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Fainting</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('312', 'Fainting-0');">Fainting-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Poisoning</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('917', 'Poisoning-2');">Poisoning-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('918', 'Poisoning-0');">Poisoning-0</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">Psychiatry</a><ul class="dl-submenu">
<li>
<a href="#">Psychosis</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('885', 'Psychosis-0');">Psychosis-0</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">Endocrinology</a><ul class="dl-submenu">
<li>
<a href="#">Nutrition & Metabolic Disorder</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('640', 'Nutrition & Metabolic Disorder-2');">Nutrition & Metabolic Disorder-2</a>
</li>
<li>
<a onclick="MEDICARE.get_data('641', 'Nutrition & Metabolic Disorder-0');">Nutrition & Metabolic Disorder-0</a>
</li>
</ul>
</li>
<li>
<a href="#">Diabetes</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('638', 'Diabetes-1');">Diabetes-1</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="#">TEST</a><ul class="dl-submenu">
<li>
<a href="#">TEST</a><ul class="dl-submenu">
<li>
<a onclick="MEDICARE.get_data('39', 'TEST-0');">TEST-0</a>
</li>
<li>
<a onclick="MEDICARE.get_data('948', 'TEST-0');">TEST-0</a>
</li>
</ul>
</li>
</ul>
</li>
