{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "Medicare cost" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
    {% verbatim %}
    <script id="tooltip-template" type="text/x-handlebars-template">
        <div class='hover-text'>
            <div class='hospital-name'>{{ d_name }}</div>
            <div class='hover-label'>Hospital Bill:</div>
            <div class='hover-data'> ${{ d_charge }}</div>
            <div class='hover-label'>Medicare reimbursement:</div>
            <div class='hover-data'> ${{ d_pay }}</div>
        </div>
    </script>
    {% endverbatim %}

    <script src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}js/topojson.v0.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>
    <link href="{{ STATIC_URL }}css/tipsy.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/handlebars.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>




{% endblock %}


{% block maincontent %}
    <div class="big-top-margin row-fluid">
        <div class="span7">
            <h2>Vastly different price for the same procedure</h2>
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        </div>
        <div class="span5">
            <div id="default_image">
                <img src="{{ STATIC_URL }}images/default_image.png">
            </div>
            <div class="social-box">
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet' st_via='ddehghan'
                      st_title='Medicare price variation between hospitals #health #medicare'></span>
                <span class='st_googleplus_hcount' displayText='Google +'></span>
                <span class='st_sharethis_hcount' displayText='Share'></span>
            </div>
        </div>
    </div>

    <div class="big-top-margin row-fluid">
        <div class="offset1 span8">
            <h3>Select a procedure:</h3>
            <select id="drug_name" onChange="get_data();">
            </select>
        </div>

        <div class="span3 visible-desktop">
            <img class="big-arrow" src="{{ STATIC_URL }}images/arrow_yellow.png">
            <br>

            <div class="instructions">
                1) Select a Procedure <br>
                2) View prices <br>
                3) Hover over dots
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3 style="display: inline">Average hospitals bill for: </h3> <span class="selected_drg"></span>

            <div id="chart1"></div>
            <h3 style="display: inline">Average Medicare reimbursement for : </h3> <span
                class="selected_drg"></span>

            <div id="chart2"></div>
        </div>
    </div>


    <div class="big-top-margin row-fluid">
        <div class="span12">

            <h3>About the data:</h3>

            <p>The graphs on this page are plotted with the "Medicare Provider Charge Data" released by CMS.GOV.
                <a href="/about-data">Find out more</a> about this dataset. </p>

            <br>

            <h3>In the News:</h3>

            <div class="news">
                <div class="border-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/time_cover.jpg">
                    </div>
                    <div>
                        <h3>Bitter Pill: Why Medical Bills Are Killing Us</h3>
                        <a href="http://www.time.com/time/magazine/article/0,9171,2136864,00.html#ixzz2Sw4Yxq6j">
                            Full Article</a> (Pay Wall)<br>
                        <a href="http://www.pharmacyreviewer.com/forum/news-related-online-pharmacies/33668-time-magazine-special-report-why-medical-bills-killing-us-mar-4-2013-chapter-1-a.html">Text
                            only</a>
                    </div>
                </div>
                <div class="border-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/planet_money.png">
                    </div>
                    <div>
                        <h3>Planet Money: The Mysterious Power Of A Hospital Bill</h3>
                        <a href="http://www.npr.org/blogs/money/2013/02/26/172996963/episode-439-the-mysterious-power-of-a-hospital-bill">
                            Read more</a>
                    </div>
                </div>
                <div class="border-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/wpost.png">
                    </div>
                    <div>
                        <h3>One hospital charges $8,000 — another, $38,000</h3>
                        <a href="http://www.washingtonpost.com/blogs/wonkblog/wp/2013/05/08/one-hospital-charges-8000-another-38000/">
                            Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block bottomscript %}

    <script type="text/javascript">
        var switchTo5x = false;
    </script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
        stLight.options({
            publisher: "6d8da8ae-b61c-486f-a29b-e4c32b2e3259",
            doNotHash: false,
            doNotCopy: false,
            hashAddressBar: false
        });
    </script>

{% endblock %}
