{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "Medicare cost" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
    {% verbatim %}
    <script id="tooltip-template" type="text/x-handlebars-template">
        <div class='hover-text'>
            <div class='hospital-name'>{{ d_name }}</div>
            <div class="pull-left">
                <div class='hover-label'>Hospital Bill:</div>
                <div class='hover-data'> {{ d_charge }}</div>
            </div>
            <div class="pull-right">
                <div class='hover-label'>Medicare<br>reimbursement:</div>
                <div class='hover-data'> {{ d_pay }}</div>
            </div>
        </div>
        <div class="hover-row">
            <table>
                <tr>
                    <td>Acquired Infection</td>
                    <td>{{ AcquiredInfect }}</td>
                </tr>
                <tr>
                    <td>Acquired Conditions</td>
                    <td>{{ AcquiredInfect }}</td>
                </tr>
                <tr>
                    <td>Patient Safety </td>
                    <td>{{ PatientSafetySummary }}</td>
                </tr>

            </table>
        </div>
    </script>

    <script id="hlist-template" type="text/x-handlebars-template">
        {{#if hospitals }}
        <div class="hlist blue-box">

            <h4 class="section-title min-max-box-header">Nearby Hospitals:</h4>

            <p>Hospitals within the 100 miles that charge the most or the least</p>

            <div class='min-max-box'>
                {{#list hospitals}}
                <div class="h-row" onmouseover="MEDICARE.draw_highlight('#chart1', {{ this.lat }}, {{ this.lon }});">
                    <div class="hlist-head"><p>
                        {{#if isMax }} $$$ {{/if}}
                        {{#if isMin }} $ {{/if}}
                    </p>
                    </div>
                    <div class="btn-danger" ></div>
                    <div class='hname'>{{this.name}}</div>
                    <div class="h-numbers">
                        Charge: <span class='hbill'>{{this.charge}}</span>
                        <br>
                        Reimbursement: <span class='hbill'>{{this.pay}}</span>
                    </div>
                </div>
                {{/list}}
            </div>
        </div>

        {{/if}}
    </script>


    {% endverbatim %}

    <script src="{{ STATIC_URL }}js/libs/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/topojson.v0.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.tipsy.js"></script>
    <link href="{{ STATIC_URL }}css/tipsy.css" rel="stylesheet">
    {#    <script src="{{ STATIC_URL }}js/libs/ember-1.0.0-rc.4.js"></script>#}


{% endblock %}

{% block maincontent %}
    <div class="big-top-margin row-fluid">
        <div class="span12">
            <h1 class="main-title">Medicare reimbursements disparities</h1>
        </div>
    </div>
    <div class="big-top-margin row-fluid">
        <div class="span7">

            <p>
                The lack of price transparency has long plagued the U.S. healthcare industry. Although all hospitals
                have
                list prices (a.k.a. “the chargemaster”) for every treatment, drug, and procedure, these prices are never
                made public. In addition, private insurers and the government (i.e. Medicare) reimburse hospitals
                according
                to their own negotiated price list, which for the most part has also remained shrouded in mystery—until
                now.
                Recently, Medicare released data regarding the payments for the top 100 medical conditions by patient
                volume. It’s no surprise that there are huge disparities between what hospitals charge for the same
                treatment. The map below shows the price disparity between hospitals located in the same hospital
                referral
                region.
            </p>

            <h4>How Medicare pays hospitals:</h4>

            <p>
                Medicare pays hospital for each patient treated. This rate not only varies with the type of disease that
                the patient has but with comorbid conditions, geographical location, and demographics of the hospital’s
                patient population. For example, hospitals located in a region with a higher cost of living would be
                reimbursed at a higher rate—as would hospitals that have a high percentage of underserved populations or
                teaching hospitals.
                Medicare’s reimbursement schedule is designed to cover the actual cost of the treatment plus a small
                percentage to cover. Private insurers generally pay more than Medicare.
            </p>

            <h4>Definitions:</h4>

            <p>
                Disease Related Groups (or DRGs) are a grouping of healthcare claims codes (known as ICD or
                International Classification of Disease codes).
            </p>

        </div>
        <div class="span5">
            <div class="post-img"><a>
                <img src="{{ STATIC_URL }}images/default_image.png">

                <p>Check out the full infographic</p>
            </a>
            </div>
            <div class="social-box">
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet' st_via='ddehghan'
                      st_title='Medicare price variation between hospitals #health #medicare'></span>
                <span class='st_googleplus_hcount' displayText='Google +'></span>
                <span class='st_sharethis_hcount' displayText='Share'></span>
            </div>
        </div>
    </div>

    <div class="big-top-margin row-fluid">
        <div class="span12">

            <h2 class="main-title"> How much does my hospital charge for [condition]?</h2>

            <p>Medicare recently released data regarding the payments for the top 100 medical conditions by patient
                volume. How much would your bill be if you went to your hospital with chest pain as an uninsured
                patient? And how much would Medicare reimburse that same hospital if you had Medicare? What if you went
                to a neighboring hospital?
                Select a city, state and a condition.
            </p>
        </div>
    </div>

    <div class="big-top-margin row-fluid">
        <div class="span8">

            <h3 class="section-title">Select a procedure:</h3>
            <select id="drug_name" onChange="MYCHART.paint();">
            </select>
        </div>

        <div class="span3 visible-desktop">
            <img class="big-arrow" src="{{ STATIC_URL }}images/arrow_yellow.png">
        </div>
    </div>

    <div class="big-top-margin row-fluid">
        <div class="span12">
            <div class="row-fluid chart-title">
                <div class="span12">

                    <h4>Average Hospitals Bill</h4>
                    <strong>Process name: </strong>&nbsp;&nbsp;&nbsp;<span class="selected_drg"></span>

                </div>
            </div>
            <div class="row-fluid chart-body">
                <div class="span9">

                    <div id="chart1"></div>

                </div>
                <div class="span3">
                    <div id="first-last-list1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="big-top-margin row-fluid">
        <div class="span12">
            <div class="row-fluid chart-title">
                <div class="span12">

                    <h4>Average Medicare Reimbursement</h4>
                    <strong>Process name: </strong>&nbsp;&nbsp;&nbsp;<span class="selected_drg"></span>

                </div>
            </div>
            <div class="row-fluid chart-body">
                <div class="span9">

                    <div id="chart2"></div>

                </div>
                <div class="span3">
                    <div id="first-last-list2"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="big-top-margin row-fluid">
        <div class="span12">
            <div class="row-fluid chart-title">
                <div class="span12">

                    <h4>Bills vs Reimbursements</h4>
{#                    <strong>Process name: </strong>&nbsp;&nbsp;&nbsp;<span class="selected_drg"></span>#}

                </div>
            </div>
            <div class="row-fluid chart-body">
                <div class="span12">

                    <div id="chart3"></div>

                </div>
                {#                <div class="span3">#}
                {#                    <div id="first-last-list2"></div>#}
                {#                </div>#}
            </div>
        </div>
    </div>


    <div class="big-top-margin row-fluid">
        <div class="span12">
            <div class="row-fluid chart-title">
                <div class="span12">

                    <h4>Cost vs Quality</h4>
{#                    <strong>Process name: </strong>&nbsp;&nbsp;&nbsp;<span class="selected_drg"></span>#}

                </div>
            </div>
            <div class="row-fluid chart-body">
                <div class="span9">

                    <div id="chart4"></div>

                </div>

                <div class="span3">
                    <div class="zipcode-selector">
                        <input id="input-zipcode" type="text" value="98116"/>
                        <input type="button" class="btn-info" value="Search" onclick="MEDICARE.lookupZip();"/>
                    </div>

                    <div id="first-last-list3"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="big-top-margin row-fluid">
        <div class="span12">

            <h3>About the data:</h3>

            <p>The graphs on this page are plotted with the "Medicare Provider Charge Data" released by CMS.GOV.
                <a href="/about-data">Find out more</a> about this dataset. </p>

            <br>

            <h3 class="color-3">In the News:</h3>

            <div class="news">
                <div class="border-row news-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/time_cover.jpg">
                    </div>
                    <div>
                        <h3>Bitter Pill: Why Medical Bills Are Killing Us</h3>
                        <a href="http://www.time.com/time/magazine/article/0,9171,2136864,00.html#ixzz2Sw4Yxq6j">
                            Full Article</a> (Pay Wall)<br>
                        <a href="http://www.pharmacyreviewer.com/forum/news-related-online-pharmacies/33668-time-magazine-special-report-why-medical-bills-killing-us-mar-4-2013-chapter-1-a.html">Text
                            only</a>
                    </div>
                </div>
                <div class="border-row news-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/planet_money.png">
                    </div>
                    <div>
                        <h3>Planet Money: The Mysterious Power Of A Hospital Bill</h3>
                        <a href="http://www.npr.org/blogs/money/2013/02/26/172996963/episode-439-the-mysterious-power-of-a-hospital-bill">
                            Read more</a>
                    </div>
                </div>
                <div class="border-row news-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/wpost.png">
                    </div>
                    <div>
                        <h3>One hospital charges $8,000 — another, $38,000</h3>
                        <a href="http://www.washingtonpost.com/blogs/wonkblog/wp/2013/05/08/one-hospital-charges-8000-another-38000/">
                            Read more</a>
                    </div>
                </div>
                <div class="border-row news-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/nytimes.png">
                    </div>
                    <div>
                        <h3>How Much Hospitals Charge For the Same Procedures</h3>
                        <a href="http://www.nytimes.com/interactive/2013/05/08/business/how-much-hospitals-charge.html?ref=business">
                            Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block bottomscript %}

    <script src="{{ STATIC_URL }}js/medicare.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/plot.js"></script>

    <script type="text/javascript">

        MYCHART.init = function (dataUrl) {
            MEDICARE.draw_chart('#chart1', dataUrl, 'size_charge');
            MEDICARE.draw_chart('#chart2', dataUrl, 'size_pay');
            MEDICARE.plotXY('#chart3', dataUrl);
            MEDICARE.costVsQuality('#chart4', dataUrl, 'AcquiredInfect');
        };

        MYCHART.paint();
        MEDICARE.lookupZip();

    </script>

    {#    <script type="text/javascript">#}
    {#        var switchTo5x = false;#}
    {#    </script>#}
    {#    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>#}
    {#    <script type="text/javascript">#}
    {#        stLight.options({#}
    {#            publisher: "6d8da8ae-b61c-486f-a29b-e4c32b2e3259",#}
    {#            doNotHash: false,#}
    {#            doNotCopy: false,#}
    {#            hashAddressBar: false#}
    {#        });#}
    {#    </script>#}

{% endblock %}
