{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "Medicare cost" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block maincontent %}

    <div class="big-top-margin row-fluid">
        <div class="span12">

            <h3>More in the News:</h3>

            <div class="news">
                <div class="border-row news-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/time_cover.jpg">
                    </div>
                    <div>
                        <h3>Bitter Pill: Why Medical Bills Are Killing Us</h3>
                        <a href="http://www.time.com/time/magazine/article/0,9171,2136864,00.html#ixzz2Sw4Yxq6j">
                            Full Article</a> (Pay Wall)<br>
                        <a href="http://www.pharmacyreviewer.com/forum/news-related-online-pharmacies/33668-time-magazine-special-report-why-medical-bills-killing-us-mar-4-2013-chapter-1-a.html">Text
                            only</a>
                    </div>
                </div>
                <div class="border-row news-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/planet_money.png">
                    </div>
                    <div>
                        <h3>Planet Money: The Mysterious Power Of A Hospital Bill</h3>
                        <a href="http://www.npr.org/blogs/money/2013/02/26/172996963/episode-439-the-mysterious-power-of-a-hospital-bill">
                            Read more</a>
                    </div>
                </div>
                <div class="border-row news-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/wpost.png">
                    </div>
                    <div>
                        <h3>One hospital charges $8,000 — another, $38,000</h3>
                        <a href="http://www.washingtonpost.com/blogs/wonkblog/wp/2013/05/08/one-hospital-charges-8000-another-38000/">
                            Read more</a>
                    </div>
                </div>
                <div class="border-row news-row">
                    <div class="image-col">
                        <img class="news-image" src="{{ STATIC_URL }}images/nytimes.png">
                    </div>
                    <div>
                        <h3>How Much Hospitals Charge For the Same Procedures</h3>
                        <a href="http://www.nytimes.com/interactive/2013/05/08/business/how-much-hospitals-charge.html?ref=business">
                            Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block bottomscript %}

{% endblock %}
