{% extends 'theme/base.html' %}
{% load i18n %}

{% trans "Medicare cost" as the_title %}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}

{% block extra_css %}
    {% verbatim %}
    <script id="tooltip-template" type="text/x-handlebars-template">
        <div class='hover-text'>
            <div class='hospital-name'>{{ d_name }}</div>
            <div class="pull-left">
                <div class='hover-label'>Hospital Bill:</div>
                <div class='hover-data'> {{ d_charge }}</div>
            </div>
            <div class="pull-right">
                <div class='hover-label'>Medicare<br>reimbursement:</div>
                <div class='hover-data'> {{ d_pay }}</div>
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="index2">
        <div class="well"><h5> SVG </h5>
            <svg id="svg" width="300" height="60">
            </svg>
        </div>
    </script>


    <script type="text/x-handlebars" data-template-name="index">
        <ul>
            {{#each item in model}}
            <li>{{ item }}</li>
            {{/each}}
        </ul>
    </script>


    {% endverbatim %}


    <script src="{{ STATIC_URL }}js/libs/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.tipsy.js"></script>
    <link href="{{ STATIC_URL }}css/tipsy.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}js/libs/ember-1.0.0-rc.4.js"></script>
    <script src="http://builds.emberjs.com/ember-data-latest.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>

{% endblock %}

{% block maincontent %}
    <div class="big-top-margin row-fluid">
        <div class="span7">
            {#            <h2 class="main-title">Price vs Quality</h2>#}

            <div id="app-container"></div>


            <h3 class="section-title">Select a procedure:</h3>
            <select id="drug_name" onChange="get_data();">
            </select>


            <div id="chart3"></div>

        </div>
        <div class="span5">
            <div class="social-box">
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet' st_via='ddehghan'
                      st_title='Medicare price variation between hospitals #health #medicare'></span>
                <span class='st_googleplus_hcount' displayText='Google +'></span>
                <span class='st_sharethis_hcount' displayText='Share'></span>
            </div>
        </div>
    </div>




{% endblock %}


{% block bottomscript %}

    <script src="{{ STATIC_URL }}js/plot.js"></script>

    <script type="text/javascript">
        MEDICARE.LoadOptions(function () {
            var drg_num = MEDICARE.get_drg();

            MEDICARE.plotXY(drg_num);

        });
    </script>


    {#    <script type="text/javascript">#}
    {#        var switchTo5x = false;#}
    {#    </script>#}
    {#    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>#}
    {#    <script type="text/javascript">#}
    {#        stLight.options({#}
    {#            publisher: "6d8da8ae-b61c-486f-a29b-e4c32b2e3259",#}
    {#            doNotHash: false,#}
    {#            doNotCopy: false,#}
    {#            hashAddressBar: false#}
    {#        });#}
    {#    </script>#}

{% endblock %}



{#                        <table>#}
{#                            <tr>#}
{#                                <td>{{Air}}</td>#}
{#                                <td>Air Bubble in the Bloodstream</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>{{BloodInf}}</td>#}
{#                                <td> Blood infection from a catheter in a large vein</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>{{Falls}}</td>#}
{#                                <td> Falls and injuries</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>{{UrinaryInf}}</td>#}
{#                                <td> Infection from a Urinary Catheter</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>{{Mismatch}}</td>#}
{#                                <td> Mismatched blood types</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>{{Objects}}</td>#}
{#                                <td> Objects Accidentally Left in the Body After Surgery</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>{{Sores}}</td>#}
{#                                <td> Severe pressure sores (bed sores)</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>{{Sugar}}</td>#}
{#                                <td> Signs of Uncontrolled Blood Sugar</td>#}
{#                            </tr>#}
{#                        </table>#}
