<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}theme/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="{{ STATIC_URL }}theme/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}theme/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ STATIC_URL }}theme/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ STATIC_URL }}theme/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ STATIC_URL }}theme/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}theme/ico/favicon.png">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <script src="{{ STATIC_URL }}js/libs/jquery-1.10.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/handlebars-1.0.0-rc.4.js"></script>
    <script src="{{ STATIC_URL }}js/common.js"></script>

{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>#}
    <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One|Lemon' rel='stylesheet' type='text/css'>

    {% block extra_css %}
    {% endblock %}

</head>

<body>

{% include "theme/top_nav.html" %}

{% block hero %}
{% endblock %}

<div class="container">

    {% block maincontent %}
    {% endblock %}

    <br>
    <br>
    <br>

    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
            <a href="https://github.com/ddehghan/medicare-data">View on GitHub</a>
        </p>
    </footer>

</div>
<!-- /container -->



{#<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>#}

<script src="{{ STATIC_URL }}theme/js/bootstrap.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12630940-6', 'herokuapp.com');
  ga('send', 'pageview');

</script>

{% block bottomscript %}
{% endblock %}

</body>
</html>
